# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# System Files
.DS_Store
package-lock.json
editorDist
dev/builder
.cursor

# SpecStory explanation file
.specstory/.what-is-this.md
/*.cursorindexingignore
/.specstory
tmp
*.log
.vscode
